#navigation-footer {
    display: inline-block;
    width: 100%;
}
.navigation-footer-item {
    float: left;
    font-size: 1em;
    padding: 0 3%;
}
#navigation-left-arrow {
    cursor: pointer;
    float: left;
    padding-left: 25%;
    font-size: 1em;
}
#navigation-right-arrow {
    cursor: pointer;
    float: left;
    padding-right: 25%;
    font-size: 1em;
}