.container{
    height: 40em;
    padding-top: 5em;    
    border-top: solid rgb(0, 255, 153) 3px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: solid rgb(0, 255, 153) 3px;
}
.subContainer {
    display: flex;
    flex-flow: row wrap;
}
.text{
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    text-shadow: 1px 1px 9px black, 2px 2px 9px black, -1px -1px 9px black;
}
.phrase {
    color: white;
    font-size: 2em;
    font-weight: 300;
    margin-left: 15%;
    text-align: center;
    text-shadow: 1px 1px 9px black, 2px 2px 9px black, -1px -1px 9px black;
}

@media (max-width: 980px) {
    .container{
        background-size: 980px;
        height: 50em;
    }
    .phrase {
        margin: -1em 0 1em 0;
    }
}
@media (max-width: 570px) {
    .phrase {
        font-size:18px;
    }
    .text {
        font-size: 18px;
    }
}

