.input {
    width:100%;
    padding-left: .7em;
    height: 3.2em;
    border-radius: 9px;
    outline: none;
    color: rgb(64, 64, 64);
    font-size: 1em;
}
.container {
    overflow: hidden;
}
.icon {
    overflow: hidden;
    position: absolute;
    margin-right: 2em;
    right: 0;
    margin-top: 1em;
}
@media (max-width: 570px) {
    .input {
        font-size:16px;
    }
}
