.input {
    width:100%;
    padding-left: .7em;
    height: 3.2em;
    border-radius: 9px;
    outline: none;
    color: rgb(64, 64, 64);
    font-size: 1em;
}
.results {
   position: absolute;
   z-index: 3;
   width: 95%;
}
.item {
    color: rgb(64, 64, 64);
    font-weight: 300;
    background-color: white;
    border-radius: 9px;
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    padding: 0.5em 0 0.5em 0.7em;
    width: 100%;
}
@media (max-width: 570px) {
    .input {
        font-size: 16px;
    }
}