
/*LANDING PAGE*/
#autocomplete-results {
    position: absolute;
    background-color: white;
    /*z-index: 1;*/
}
#autocomplete-result-item {
    border: solid black 1px;
}



#submit-button {
    width: 20%;
    margin-left: 39%;
}
#search-icon {
    margin-left: 1em;
}
